.userInfo {
    display: flex;
    flex-direction: row;
}

.userInfo img {
    border-radius: 50%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainerContent {
    width: 1500px;
    height: 700px;
}

.productContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
